k8s/deployment.yaml
k8s/webhook.yaml
__pycache__
bin/*
!bin/docker
src
*.crt
*.key
*.pem
*.csr
*.srl
testing-env/aks/k8s/deployment.yaml
.vscode
.pytest_cache
*coverage*
.scannerwork/
samples/*
demo/
tls-*.conf
.venv/
venv/
.idea/
