-r requirements.txt
aioresponses~=0.7.3
parsedatetime~=2.6
pylint~=2.15.3
pytest-asyncio~=0.19.0
pytest-cov~=3.0.0
pytest-mock~=3.8.2
pytest-subprocess~=1.4.1
requests-mock~=1.10.0
setuptools~=65.5.0
