apiVersion: v1
kind: Secret
metadata:
  name: {{ .Chart.Name }}-config-secrets
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "helm.labels" . | nindent 4 }}
type: Opaque
data:
  config-secrets.yaml: {{ include "config-secrets" . | b64enc }}
