apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-env
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "helm.labels" . | nindent 4 }}
data:
  CONNAISSEUR_NAMESPACE: {{ .Release.Namespace }}
  CONNAISSEUR_WEBHOOK: {{ .Chart.Name }}-webhook
  CONNAISSEUR_SENTINEL: {{ .Chart.Name }}-bootstrap-sentinel
  CONNAISSEUR_IMAGE_POLICY: {{ .Chart.Name }}-policy
  KUBE_API_TOKEN_PATH: /var/run/secrets/kubernetes.io/serviceaccount/token
  KUBE_API_CA_PATH: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
  {{- if .Values.debug }}
  LOG_LEVEL: DEBUG
  {{- else }}
  LOG_LEVEL: INFO
  {{- end }}
  {{- if .Values.detection_mode }}
  DETECTION_MODE: "1"
  {{- end}}
  ALERT_CONFIG_DIR: "/app/config"
  {{- if .Values.alerting.cluster}}
  CLUSTER_NAME: {{ .Values.alerting.cluster }}
  {{- else }}
  {{- fail "Please provide a name for your cluster by appending 'helm install' by '--set alerting.cluster=<cluster_name>'. Using 'make' sets the cluster name automatically." }}
  {{- end}}
  HELM_HOOK_IMAGE: {{ .Values.deployment.helmHookImage }}
