{% extends "base.html" %}

{% block announce %}
  <!-- Add your announcement here, including arbitrary HTML -->
   <header style="font-size:17px">
        <center>&#11088; <strong> If you like Connaisseur, give it a star on <a href="https://github.com/sse-secure-systems/connaisseur">GitHub</a> or share your <a href="https://github.com/sse-secure-systems/connaisseur/discussions">feedback</a>!</strong> &#11088;</center>
{% endblock %}

{% block outdated %}
You're not viewing the docs of the latest version.
<a href="{{ '../' ~ base_url  }}"><strong>Click here to go to the latest version.</strong></a>
{% endblock %}

