apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-${index}
  labels:
    use: connaisseur-integration-test
spec:
  selector:
    matchLabels:
      use: connaisseur-integration-test
  replicas: 1
  template:
    metadata:
      labels:
        use: connaisseur-integration-test
    spec:
      containers:
      - name: redis
        image: redis
