name: sca

on:
  workflow_call:
    inputs:
      image:
        description: "Image used for testing, i.e. registry + repository + tag"
        type: string
        required: true
      registry:
        description: 'Registry to login to pull image, e.g. "ghcr.io" for GHCR, leave empty if image is public'
        type: string
        required: false
        default: ''
      repo_owner:
        description: 'Name of repository owner, e.g. "github.repository_owner" for ghcr.io'
        type: string
        required: false
        default: ''
      output:
        description: 'Output either "sarif" (GITHUB_TOKEN with security-events:write) or print results as "table" and fail on error'
        type: string
        required: false
        default: 'sarif'

permissions: {}

jobs:
  safety:
    runs-on: ubuntu-latest
    permissions:
      packages: read
    steps:
      - name: Checkout code
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - name: Run
        uses: ./.github/actions/safety
        with:
          image: ${{ inputs.image }}
          registry: ${{ inputs.registry }}
          repo_owner: ${{ inputs.repo_owner }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}

  trivy-image-scan:
    name: trivy image
    runs-on: ubuntu-latest
    permissions:
      packages: read
      security-events: write
    container:
      image: docker:stable
    steps:
      - name: Checkout code
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - name: Run
        uses: ./.github/actions/trivy-image
        with:
          image: ${{ inputs.image }}
          registry: ${{ inputs.registry }}
          repo_owner: ${{ inputs.repo_owner }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          output: ${{ inputs.output }}

  grype:
    name: grype
    runs-on: ubuntu-latest
    permissions:
      packages: read
      security-events: write
    container:
      image: docker:stable
    steps:
      - name: Checkout code
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - name: Run
        uses: ./.github/actions/grype
        with:
          image: ${{ inputs.image }}
          registry: ${{ inputs.registry }}
          repo_owner: ${{ inputs.repo_owner }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          output: ${{ inputs.output }}

# WIP: Syft issue seems to cause error (https://github.com/anchore/syft/issues/1622)
  dependency-submission:
    name: syft / dependency review
    runs-on: ubuntu-latest
    permissions:
      packages: read
      contents: write
    steps:
      - name: Login with registry
        if: inputs.registry != ''
        uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2.2.0
        with:
          registry: ${{ inputs.registry }}
          username: ${{ inputs.repo_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Run
        uses: anchore/sbom-action@4d571ad1038a9cc29d676154ef265ab8f9027042 # v0.14.2
        with:
          image: ${{ inputs.image }}
          format: cyclonedx-json
          dependency-snapshot: true
