name: unit-test

on:
  workflow_call:

permissions: {}

jobs:
  pytest:
    runs-on: ubuntu-latest
    container:
      image: python:3
    steps:
      - name: Checkout code
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - name: Install
        run: |
          pip3 install -r requirements_dev.txt && pip3 install .
      - name: Test
        run: pytest --cov=connaisseur --cov-report=xml tests/
      - name: Upload
        uses: codecov/codecov-action@d9f34f8cd5cb3b3eb79b3e4b5dae3a16df499a70 # v3.1.1
        with:
          file: coverage.xml
