name: sast

on:
  workflow_call:

permissions: {}

jobs:
  codeql:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      pull-requests: read
    steps:
    - name: Checkout repository
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
    - name: Initialize CodeQL
      uses: github/codeql-action/init@379614612a29c9e28f31f39a59013eb8012a51f0 # v3.24.3
      with:
        languages: 'python'
    - name: Analyze
      uses: github/codeql-action/analyze@379614612a29c9e28f31f39a59013eb8012a51f0 # v3.24.3

  black:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Install packages
        run: |
          pip3 install setuptools wheel
          pip3 install black
      - name: Test formatting
        run: |
          python3 -m black . 2>&1 | grep -q "reformatted" && { echo 'Not properly formatted.'; exit 1; } || true

  pylint:
    runs-on: ubuntu-latest
    container:
      image: python:3.11-slim
    steps:
      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Install
        run: |
          pip3 install -r requirements_dev.txt
      - name: Lint
        run: pylint --ignore-patterns=tests,coverage connaisseur

  bandit:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    container:
      image: python:slim
    steps:
      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Install Bandit
        run: pip3 install bandit bandit_sarif_formatter
      - name: Run Bandit
        run: bandit -r -f sarif -o bandit-results.sarif connaisseur/ --exit-zero
      - name: Upload
        uses: github/codeql-action/upload-sarif@379614612a29c9e28f31f39a59013eb8012a51f0 # v3.24.3
        with:
          sarif_file: 'bandit-results.sarif'

  hadolint:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Scan
        uses: hadolint/hadolint-action@54c9adbab1582c2ef04b2016b760714a4bfde3cf # v3.1.0
        with:
          dockerfile: docker/Dockerfile
          no-fail: true
          format: sarif
          output-file: hadolint-results.sarif
      - name: Upload
        uses: github/codeql-action/upload-sarif@379614612a29c9e28f31f39a59013eb8012a51f0 # v3.24.3
        with:
          sarif_file: 'hadolint-results.sarif'

  kubelinter:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Scan
        continue-on-error: true
        uses: stackrox/kube-linter-action@ca0d55b925470deb5b04b556e6c4276ea94d03c3 # v1.0.4
        with:
          directory: helm
          config: .kube-linter/config.yaml
          format: sarif
          output-file: kubelinter-results.sarif
      - name: Upload
        uses: github/codeql-action/upload-sarif@379614612a29c9e28f31f39a59013eb8012a51f0 # v3.24.3
        with:
          sarif_file: 'kubelinter-results.sarif'

  trivy-config-scan:
    name: trivy config
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Run Trivy
        uses: ./.github/actions/trivy-config

  checkov:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Render Helm charts
        run: |
          rm -rf tests # remove 'tests' folder from scan
          mkdir deployment
          helm template helm > deployment/deployment.yaml
        shell: bash
      - name: Scan
        uses: bridgecrewio/checkov-action@259301d4cd9dce0a34705b72906c3ad981406bcd # v12.2675.0
        with:
          soft_fail: true
          output_format: cli,sarif
          output_file_path: console,checkov-results.sarif
      - name: Upload
        uses: github/codeql-action/upload-sarif@379614612a29c9e28f31f39a59013eb8012a51f0 # v3.24.3
        with:
          sarif_file: checkov-results.sarif

  semgrep:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    container:
      image: returntocorp/semgrep
    if: (github.actor != 'dependabot[bot]')
    steps:
      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Scan
        run: semgrep ci --config=auto --suppress-errors --sarif --output=semgrep-results.sarif || exit 0
      - name: Upload
        uses: github/codeql-action/upload-sarif@379614612a29c9e28f31f39a59013eb8012a51f0 # v3.24.3
        with:
          sarif_file: semgrep-results.sarif
