name: publish

on:
  workflow_call:
    inputs:
      chart_version:
        description: "Version of the Connaisseur Helm chart to publish"
        type: string
        required: true
      application_version:
        description: "Version of the Connaisseur application (same as Git release tag, without v prefix)"
        type: string
      latest_docs:
        description: "Whether the docs corresponding to the application version are to be marked as latest docs"
        type: boolean

permissions:
  contents: write

jobs:
  publish_chart:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Install Helm and Git
        run: |
          curl https://baltocdn.com/helm/signing.asc | sudo apt-key add -
          sudo apt-get install apt-transport-https --yes
          echo "deb https://baltocdn.com/helm/stable/debian/ all main" | sudo tee /etc/apt/sources.list.d/helm-stable-debian.list
          sudo apt-get update
          sudo apt-get install helm git
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
      - name: Lint Helm chart
        run: helm lint charts/connaisseur
      - name: Add annotation if it's a security release
        run: bash scripts/security_annotation.sh
      - name: Package and upload Helm chart
        run: |
          git config user.name "versioning_user"
          git config user.email "connaisseur@securesystems.dev"
          CHART_VERSION="${{ inputs.chart_version }}"
          helm package charts/connaisseur
          git checkout . # Remove changes to Chart for git checkout
          git checkout gh-pages
          mv connaisseur*.tgz ./charts
          cd ./charts
          helm repo index . --url https://sse-secure-systems.github.io/connaisseur/charts
          cd ..
          git add ./charts
          git commit -m "Publish helm chart ${CHART_VERSION}"
          git push https://${{ secrets.GITHUB_TOKEN }}@github.com/sse-secure-systems/connaisseur.git

  publish_docs:
    uses: ./.github/workflows/.reusable-docs.yaml
    needs: [publish_chart]
    permissions:
      contents: write
    with:
      application_version: ${{ inputs.application_version }}
      latest_docs: ${{ inputs.latest_docs }}
