name: sast

on:
  workflow_call:
    inputs:
      skip:
        description: "Want to skip running certain jobs 'none', 'non-required', 'all'?"
        type: string
        default: "none"
      output:
        description: 'Output either "sarif" (GITHUB_TOKEN with security-events:write) or print results as "table" and fail on error'
        type: string
        required: false
        default: 'sarif'

permissions: {}

jobs:
  checkov:
    runs-on: ubuntu-latest
    if: |
      (github.actor != 'dependabot[bot]') &&
      inputs.skip != 'non-required' &&
      inputs.skip != 'all'
    permissions:
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Render Helm charts
        run: |
          mkdir deployment
          helm template charts/connaisseur --namespace connaisseur > deployment/deployment.yaml
        shell: bash
      - name: Scan
        if: inputs.output == 'table'
        uses: bridgecrewio/checkov-action@a8278c99fbd934feac4c1490423afcb6338a35e2 # v12.2814.0
        with:
          output_format: cli
          output_file_path: console
          soft_fail: false
          file: deployment/deployment.yaml
      - name: Scan
        if: inputs.output == 'sarif'
        uses: bridgecrewio/checkov-action@a8278c99fbd934feac4c1490423afcb6338a35e2 # v12.2814.0
        with:
          output_file_path: console,checkov-results.sarif
          output_format: cli,sarif
          soft_fail: true
          file: deployment/deployment.yaml
      - name: Upload
        if: inputs.output == 'sarif'
        uses: github/codeql-action/upload-sarif@b611370bb5703a7efb587f9d136a52ea24c5c38c # v3.25.11
        with:
          sarif_file: checkov-results.sarif

  codeql:
    runs-on: ubuntu-latest
    if: |
      (github.actor != 'dependabot[bot]') &&
      inputs.skip != 'non-required' &&
      inputs.skip != 'all' &&
      inputs.output == 'sarif'
    permissions:
      pull-requests: read
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Initialize CodeQL
        uses: github/codeql-action/init@b611370bb5703a7efb587f9d136a52ea24c5c38c # v3.25.11
        with:
          languages: 'go'
      - name: Analyze
        uses: github/codeql-action/analyze@b611370bb5703a7efb587f9d136a52ea24c5c38c # v3.25.11

  golangci-lint:
    runs-on: ubuntu-latest
    if: |
      (github.actor != 'dependabot[bot]') &&
      inputs.skip != 'all'
    permissions:
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
        with:
          cache: false
          go-version: '1.21'
      - name: Analyze
        uses: golangci/golangci-lint-action@a4f60bb28d35aeee14e6880718e0c85ff1882e64 # v6.0.1
        with:
          version: latest
          args: '--timeout=10m --skip-dirs="test" --tests=false'

  gosec:
    runs-on: ubuntu-latest
    if: |
      (github.actor != 'dependabot[bot]') &&
      inputs.skip != 'all'
    permissions:
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Analyze
        uses: securego/gosec@6fbd381238e97e1d1f3358f0d6d65de78dcf9245 # v2.20.0
        if: inputs.output == 'table'
        with:
          args: '-fmt text -exclude-dir=test -exclude-dir=tools ./...'
      - name: Analyze
        uses: securego/gosec@6fbd381238e97e1d1f3358f0d6d65de78dcf9245 # v2.20.0
        if: inputs.output == 'sarif'
        with:
          args: '-exclude-dir=test -exclude-dir=tools -no-fail -fmt sarif -out gosec-results.sarif ./...'
      - name: Upload
        uses: github/codeql-action/upload-sarif@b611370bb5703a7efb587f9d136a52ea24c5c38c # v3.25.11
        if: inputs.output == 'sarif'
        with:
          sarif_file: 'gosec-results.sarif'

  hadolint:
    runs-on: ubuntu-latest
    if: |
      (github.actor != 'dependabot[bot]') &&
      inputs.skip != 'non-required' &&
      inputs.skip != 'all'
    permissions:
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Scan
        uses: hadolint/hadolint-action@54c9adbab1582c2ef04b2016b760714a4bfde3cf # v3.1.0
        if: inputs.output == 'table'
        with:
          dockerfile: build/Dockerfile
          format: tty
          no-fail: false
      - name: Scan
        uses: hadolint/hadolint-action@54c9adbab1582c2ef04b2016b760714a4bfde3cf # v3.1.0
        if: inputs.output == 'sarif'
        with:
          dockerfile: build/Dockerfile
          format: sarif
          no-fail: true
          output-file: hadolint-results.sarif
      - name: Upload
        uses: github/codeql-action/upload-sarif@b611370bb5703a7efb587f9d136a52ea24c5c38c # v3.25.11
        if: inputs.output == 'sarif'
        with:
          sarif_file: 'hadolint-results.sarif'

  kubelinter:
    runs-on: ubuntu-latest
    if: |
      (github.actor != 'dependabot[bot]') &&
      inputs.skip != 'non-required' &&
      inputs.skip != 'all'
    permissions:
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Scan
        uses: stackrox/kube-linter-action@5792edc6a03735d592b13c08201711327a935735 # v1.0.5
        if: inputs.output == 'table'
        with:
          config: .github/.kube-linter/config.yaml
          directory: charts/connaisseur
          format: plain
      - name: Scan
        uses: stackrox/kube-linter-action@5792edc6a03735d592b13c08201711327a935735 # v1.0.5
        if: inputs.output == 'sarif'
        with:
          config: .github/.kube-linter/config.yaml
          directory: charts/connaisseur
          format: sarif
          output-file: kubelinter-results.sarif
      - name: Upload
        uses: github/codeql-action/upload-sarif@b611370bb5703a7efb587f9d136a52ea24c5c38c # v3.25.11
        if: inputs.output == 'sarif'
        with:
          sarif_file: 'kubelinter-results.sarif'

  semgrep:
    runs-on: ubuntu-latest
    if: |
      (github.actor != 'dependabot[bot]') &&
      inputs.skip != 'non-required' &&
      inputs.skip != 'all'
    permissions:
      security-events: write
    container:
      image: returntocorp/semgrep
    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Scan
        if: inputs.output == 'table'
        run: semgrep ci --config=auto --suppress-errors --text
      - name: Scan
        if: inputs.output == 'sarif'
        run: semgrep ci --config=auto --suppress-errors --sarif --output=semgrep-results.sarif || exit 0
      - name: Upload
        uses: github/codeql-action/upload-sarif@b611370bb5703a7efb587f9d136a52ea24c5c38c # v3.25.11
        if: inputs.output == 'sarif'
        with:
          sarif_file: semgrep-results.sarif

  trivy-config-scan:
    name: trivy config
    runs-on: ubuntu-latest
    if: |
      (github.actor != 'dependabot[bot]') &&
      inputs.skip != 'non-required' &&
      inputs.skip != 'all'
    permissions:
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Run Trivy
        uses: ./.github/actions/trivy-config
        with:
          output: ${{ inputs.output }}
