name: sast

on:
  workflow_call:
    inputs:
      jobs_to_run:
        description: "Which sast jobs should be run: 'all', 'only-required', 'skip-all'?"
        type: string
        default: "all"
      output:
        description: 'Output either "sarif" (GITHUB_TOKEN with security-events:write) or print results as "table" and fail on error'
        type: string
        required: false
        default: 'sarif'

permissions: {}

jobs:
  codeql:
    runs-on: ubuntu-latest
    if: |
      (github.actor != 'dependabot[bot]') &&
      inputs.jobs_to_run == 'all' &&
      inputs.output == 'sarif'
    permissions:
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Initialize CodeQL
        uses: github/codeql-action/init@f1f6e5f6af878fb37288ce1c627459e94dbf7d01 # v3.30.1
        with:
          languages: 'go'
      - name: Analyze
        uses: github/codeql-action/analyze@f1f6e5f6af878fb37288ce1c627459e94dbf7d01 # v3.30.1

  golangci-lint:
    runs-on: ubuntu-latest
    if: |
      (github.actor != 'dependabot[bot]') &&
      inputs.jobs_to_run != 'skip-all'
    permissions:
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          cache: false
          go-version: '1.25'
      - name: Analyze cmd
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          version: latest
          args: '--timeout=10m --tests=false'
          working-directory: cmd
      - name: Analyze internal
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          version: latest
          args: '--timeout=10m --tests=false'
          working-directory: internal

  gosec:
    runs-on: ubuntu-latest
    if: |
      (github.actor != 'dependabot[bot]') &&
      inputs.jobs_to_run != 'skip-all'
    permissions:
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Analyze
        uses: securego/gosec@c9453023c4e81ebdb6dde29e22d9cd5e2285fb16 # v2.22.8
        with:
          args: "-exclude-dir=test -exclude-dir=tools ${{ inputs.output == 'sarif' && '-no-fail -fmt sarif -out gosec-results.sarif' || '-fmt text' }} ./..."
      - name: Upload
        uses: github/codeql-action/upload-sarif@f1f6e5f6af878fb37288ce1c627459e94dbf7d01 # v3.30.1
        if: inputs.output == 'sarif'
        with:
          sarif_file: 'gosec-results.sarif'

  hadolint:
    runs-on: ubuntu-latest
    if: |
      (github.actor != 'dependabot[bot]') &&
      inputs.jobs_to_run == 'all'
    permissions:
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Scan
        uses: hadolint/hadolint-action@3fc49fb50d59c6ab7917a2e4195dba633e515b29 # v3.2.0
        with:
          dockerfile: build/Dockerfile
          format: ${{ inputs.output == 'sarif' && 'sarif' || 'tty' }}
          no-fail: ${{ inputs.output == 'sarif' && 'true' || 'false' }}
          output-file: ${{ inputs.output == 'sarif' && 'hadolint-results.sarif' || '' }}
      - name: Upload
        uses: github/codeql-action/upload-sarif@f1f6e5f6af878fb37288ce1c627459e94dbf7d01 # v3.30.1
        if: inputs.output == 'sarif'
        with:
          sarif_file: 'hadolint-results.sarif'

  kubelinter:
    runs-on: ubuntu-latest
    if: |
      (github.actor != 'dependabot[bot]') &&
      inputs.jobs_to_run == 'all'
    permissions:
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Scan
        uses: stackrox/kube-linter-action@87802a2f4e01abebb3ee3c67a3002fea71f6eae5 # v1.0.7
        with:
          config: .github/.kube-linter/config.yaml
          directory: charts/connaisseur
          format: ${{ inputs.output == 'sarif' && 'sarif' || 'plain' }}
          output-file: ${{ inputs.output == 'sarif' && 'kubelinter-results.sarif' || 'kube-linter.log' }}
      - name: Upload
        uses: github/codeql-action/upload-sarif@f1f6e5f6af878fb37288ce1c627459e94dbf7d01 # v3.30.1
        if: inputs.output == 'sarif'
        with:
          sarif_file: 'kubelinter-results.sarif'

  trivy-config-scan:
    name: trivy config
    runs-on: ubuntu-latest
    if: |
      (github.actor != 'dependabot[bot]') &&
      inputs.jobs_to_run == 'all'
    permissions:
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Create reports folder
        run: |
          mkdir reports
        shell: bash
      - name: Render Helm charts
        run: |
          mkdir deployment
          helm template charts/connaisseur > deployment/deployment.yaml
        shell: bash
      - name: Scan deployment.yaml
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
        with:
          scan-type: config
          scan-ref: deployment
          format: ${{ inputs.output }}
          output: ${{ inputs.output == 'sarif' && 'reports/trivy-k8s-results.sarif' || '' }}
      - name: Scan Dockerfiles
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
        with:
          scan-type: config
          scan-ref: build
          format: ${{ inputs.output }}
          output: ${{ inputs.output == 'sarif' && 'reports/trivy-docker-results.sarif' || '' }}
      - name: Upload k8s report
        uses: github/codeql-action/upload-sarif@f1f6e5f6af878fb37288ce1c627459e94dbf7d01 # v3.30.1
        if: inputs.output == 'sarif'
        with:
          sarif_file: 'reports/trivy-k8s-results.sarif'
          category: 'k8s'
      - name: Upload docker report
        uses: github/codeql-action/upload-sarif@f1f6e5f6af878fb37288ce1c627459e94dbf7d01 # v3.30.1
        if: inputs.output == 'sarif'
        with:
          sarif_file: 'reports/trivy-docker-results.sarif'
          category: 'docker'
