name: sast

on:
  workflow_call:
    inputs:
      jobs_to_run:
        description: "Which sast jobs should be run: 'all', 'only-required', 'skip-all'?"
        type: string
        default: "all"
      output:
        description: 'Output either "sarif" (GITHUB_TOKEN with security-events:write) or print results as "table" and fail on error'
        type: string
        required: false
        default: 'sarif'

permissions: {}

jobs:
  codeql:
    runs-on: ubuntu-latest
    if: |
      (github.actor != 'dependabot[bot]') &&
      inputs.jobs_to_run == 'all' &&
      inputs.output == 'sarif'
    permissions:
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Initialize CodeQL
        uses: github/codeql-action/init@fe4161a26a8629af62121b670040955b330f9af2 # v4.31.6
        with:
          languages: 'go'
      - name: Analyze
        uses: github/codeql-action/analyze@fe4161a26a8629af62121b670040955b330f9af2 # v4.31.6

  golangci-lint:
    runs-on: ubuntu-latest
    if: |
      (github.actor != 'dependabot[bot]') &&
      inputs.jobs_to_run != 'skip-all'
    permissions:
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          cache: false
          go-version: '1.25'
      - name: Analyze cmd
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest
          args: '--timeout=10m --tests=false'
          working-directory: cmd
      - name: Analyze internal
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest
          args: '--timeout=10m --tests=false'
          working-directory: internal

  gosec:
    runs-on: ubuntu-latest
    if: |
      (github.actor != 'dependabot[bot]') &&
      inputs.jobs_to_run != 'skip-all'
    permissions:
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Analyze
        uses: securego/gosec@6be2b51fd78feca86af91f5186b7964d76cb1256 # v2.22.10
        with:
          args: "-exclude-dir=test -exclude-dir=tools ${{ inputs.output == 'sarif' && '-no-fail -fmt sarif -out gosec-results.sarif' || '-fmt text' }} ./..."
      - name: Upload
        uses: github/codeql-action/upload-sarif@fe4161a26a8629af62121b670040955b330f9af2 # v4.31.6
        if: inputs.output == 'sarif'
        with:
          sarif_file: 'gosec-results.sarif'

  hadolint:
    runs-on: ubuntu-latest
    if: |
      (github.actor != 'dependabot[bot]') &&
      inputs.jobs_to_run == 'all'
    permissions:
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Scan
        uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5 # v3.3.0
        with:
          dockerfile: build/Dockerfile
          format: ${{ inputs.output == 'sarif' && 'sarif' || 'tty' }}
          no-fail: ${{ inputs.output == 'sarif' && 'true' || 'false' }}
          output-file: ${{ inputs.output == 'sarif' && 'hadolint-results.sarif' || '' }}
      - name: Upload
        uses: github/codeql-action/upload-sarif@fe4161a26a8629af62121b670040955b330f9af2 # v4.31.6
        if: inputs.output == 'sarif'
        with:
          sarif_file: 'hadolint-results.sarif'

  kubelinter:
    runs-on: ubuntu-latest
    if: |
      (github.actor != 'dependabot[bot]') &&
      inputs.jobs_to_run == 'all'
    permissions:
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Scan
        uses: stackrox/kube-linter-action@87802a2f4e01abebb3ee3c67a3002fea71f6eae5 # v1.0.7
        with:
          config: .github/.kube-linter/config.yaml
          directory: charts/connaisseur
          format: ${{ inputs.output == 'sarif' && 'sarif' || 'plain' }}
          output-file: ${{ inputs.output == 'sarif' && 'kubelinter-results.sarif' || 'kube-linter.log' }}
      - name: Upload
        uses: github/codeql-action/upload-sarif@fe4161a26a8629af62121b670040955b330f9af2 # v4.31.6
        if: inputs.output == 'sarif'
        with:
          sarif_file: 'kubelinter-results.sarif'

  trivy-config-scan:
    name: trivy config
    runs-on: ubuntu-latest
    if: |
      (github.actor != 'dependabot[bot]') &&
      inputs.jobs_to_run == 'all'
    permissions:
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Create reports folder
        run: |
          mkdir reports
        shell: bash
      - name: Render Helm charts
        run: |
          mkdir deployment
          helm template charts/connaisseur > deployment/deployment.yaml
        shell: bash
      - name: Scan deployment.yaml
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
        with:
          scan-type: config
          scan-ref: deployment
          format: ${{ inputs.output }}
          output: ${{ inputs.output == 'sarif' && 'reports/trivy-k8s-results.sarif' || '' }}
      - name: Scan Dockerfiles
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
        with:
          scan-type: config
          scan-ref: build
          format: ${{ inputs.output }}
          output: ${{ inputs.output == 'sarif' && 'reports/trivy-docker-results.sarif' || '' }}
      - name: Upload k8s report
        uses: github/codeql-action/upload-sarif@fe4161a26a8629af62121b670040955b330f9af2 # v4.31.6
        if: inputs.output == 'sarif'
        with:
          sarif_file: 'reports/trivy-k8s-results.sarif'
          category: 'k8s'
      - name: Upload docker report
        uses: github/codeql-action/upload-sarif@fe4161a26a8629af62121b670040955b330f9af2 # v4.31.6
        if: inputs.output == 'sarif'
        with:
          sarif_file: 'reports/trivy-docker-results.sarif'
          category: 'docker'
