name: sca

permissions: {}

on:
  workflow_call:
    inputs:
      image:
        description: "Image used for testing, i.e. registry + repository + tag"
        type: string
        required: true
      registry:
        description: 'Registry to login to pull image, e.g. "ghcr.io" for GHCR, leave empty if image is public'
        type: string
        required: false
        default: ''
      repo_owner:
        description: 'Name of repository owner, e.g. "github.repository_owner" for ghcr.io'
        type: string
        required: false
        default: ''
      jobs_to_run:
        description: "Which sca jobs should be run: 'all', 'only-required', 'skip-all'?"
        type: string
        default: "all"
      output:
        description: 'Output either "sarif" (GITHUB_TOKEN with security-events:write) or print results as "table" and fail on error'
        type: string
        required: false
        default: 'sarif'

jobs:
  trivy-image-scan:
    name: trivy image
    runs-on: ubuntu-latest
    if: inputs.jobs_to_run != 'skip-all'
    permissions:
      packages: read
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Login with registry
        if: inputs.registry != ''
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ inputs.registry }}
          username: ${{ inputs.repo_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Create reports folder
        run: |
          mkdir reports
        shell: bash
      - name: Run Trivy on image
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
        with:
          image-ref: ${{ inputs.image }}
          scan-type: "image"
          format: ${{ inputs.output == 'sarif' && 'sarif' || 'table' }}
          output: ${{ inputs.output == 'sarif' && 'reports/trivy-vuln-results.sarif' || '/dev/stdout' }}
          exit-code: ${{ inputs.output == 'sarif' && '0' || '1' }}
        env:
          TRIVY_DB_REPOSITORY: ghcr.io/aquasecurity/trivy-db,public.ecr.aws/aquasecurity/trivy-db # Workaround for https://github.com/aquasecurity/trivy-action/issues/389
          TRIVY_JAVA_DB_REPOSITORY: ghcr.io/aquasecurity/trivy-java-db,public.ecr.aws/aquasecurity/trivy-java-db # Workaround for https://github.com/aquasecurity/trivy-action/issues/389
      - name: Upload
        if: inputs.output == 'sarif'
        uses: github/codeql-action/upload-sarif@b20883b0cd1f46c72ae0ba6d1090936928f9fa30 # v4.32.0
        with:
          sarif_file: 'reports'
