name: sca

permissions: {}

on:
  workflow_call:
    inputs:
      image:
        description: "Image used for testing, i.e. registry + repository + tag"
        type: string
        required: true
      registry:
        description: 'Registry to login to pull image, e.g. "ghcr.io" for GHCR, leave empty if image is public'
        type: string
        required: false
        default: ''
      repo_owner:
        description: 'Name of repository owner, e.g. "github.repository_owner" for ghcr.io'
        type: string
        required: false
        default: ''
      jobs_to_run:
        description: "Which sca jobs should be run: 'all', 'only-required', 'skip-all'?"
        type: string
        default: "all"
      output:
        description: 'Output either "sarif" (GITHUB_TOKEN with security-events:write) or print results as "table" and fail on error'
        type: string
        required: false
        default: 'sarif'

jobs:
  trivy-image-scan:
    name: trivy image
    runs-on: ubuntu-latest
    if: inputs.jobs_to_run != 'skip-all'
    permissions:
      packages: read
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Login with registry
        if: inputs.registry != ''
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ${{ inputs.registry }}
          username: ${{ inputs.repo_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Create reports folder
        run: |
          mkdir reports
        shell: bash
      - name: Run Trivy on image
        uses: aquasecurity/trivy-action@18f2510ee396bbf400402947b394f2dd8c87dbb0 # v0.29.0
        with:
          image-ref: ${{ inputs.image }}
          scan-type: "image"
          format: ${{ inputs.output == 'sarif' && 'sarif' || 'table' }}
          output: ${{ inputs.output == 'sarif' && 'reports/trivy-vuln-results.sarif' || '/dev/stdout' }}
          exit-code: ${{ inputs.output == 'sarif' && 0 || 1 }}
        env:
          TRIVY_DB_REPOSITORY: ghcr.io/aquasecurity/trivy-db,public.ecr.aws/aquasecurity/trivy-db # Workaround for https://github.com/aquasecurity/trivy-action/issues/389
          TRIVY_JAVA_DB_REPOSITORY: ghcr.io/aquasecurity/trivy-java-db,public.ecr.aws/aquasecurity/trivy-java-db # Workaround for https://github.com/aquasecurity/trivy-action/issues/389
      - name: Upload
        if: inputs.output == 'sarif'
        uses: github/codeql-action/upload-sarif@f09c1c0a94de965c15400f5634aa42fac8fb8f88 # v3.27.5
        with:
          sarif_file: 'reports'
