name: cicd

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  RELEASE_VERSION: v1.3.1
  RELEASE_IMAGE: securesystemsengineering/connaisseur

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install black
        run: |
          pip3 install setuptools wheel
          pip3 install black
      - name: Verify formatting
        run: |
          python3 -m black . 2>&1 | grep -q "reformatted" && { echo 'Not properly formatted.'; exit 1; } || true

  hadolint:
    runs-on: ubuntu-latest
    container:
      image: hadolint/hadolint:latest-debian
    steps:
      - uses: actions/checkout@v2
      - name: Lint
        run: hadolint docker/Dockerfile

  pylint:
    runs-on: ubuntu-latest
    container:
      image: python:alpine
    steps:
      - uses: actions/checkout@v2
      - name: Install packages
        run: pip3 install -r requirements.txt
      - name: Lint
        run: cd connaisseur && pylint --ignore-patterns=tests,coverage *.*

  pytest:
    runs-on: ubuntu-latest
    container:
      image: python:slim
    needs: [black,hadolint,pylint]
    steps:
      - uses: actions/checkout@v2
      - name: Install packages
        run: pip3 install -r requirements.txt && pip3 install .
      - name: Test
        run: cd connaisseur && pytest --cov=connaisseur --cov-report=xml tests/
      - name: Install curl
        run: |
          apt update
          apt install -y curl
      - name: Upload code coverage
        uses: codecov/codecov-action@v1
        with:
          file: connaisseur/coverage.xml

  bandit:
    runs-on: ubuntu-latest
    container:
      image: python:alpine
    needs: [pytest]
    steps:
      - uses: actions/checkout@v2
      - name: Install bandit
        run: pip3 install bandit
      - name: Run bandit
        run: bandit -r -x tests/ -f txt -o report.txt .
      - name: Print report
        if: ${{ success() || failure() }}
        run: cat report.txt
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: bandit-report
          path: report.txt

  safety:
    runs-on: ubuntu-latest
    container:
      image: python:alpine
    needs: [pytest]
    steps:
      - uses: actions/checkout@v2
      - name: Install packages
        run: pip3 install -r requirements.txt
      - name: Freeze packages
        run: pip3 freeze > actual_package_versions.txt
      - name: Install safety
        run: pip3 install safety
      - name: Run safety
        run: safety check -r ./actual_package_versions.txt --full-report -o report.txt
      - name: Print report
        if: ${{ success() || failure() }}
        run: cat report.txt
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: safety-report
          path: report.txt

  trivy:
    runs-on: ubuntu-latest
    container:
      image: docker:stable
    needs: [pytest]
    steps:
      - uses: actions/checkout@v2
      - name: Install trivy
        run: |
          apk update
          apk add curl
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/master/contrib/install.sh | sh -s -- -b /usr/local/bin
      - name: Build image
        run: docker build -t $GITHUB_SHA -f docker/Dockerfile .
      - name: Save image
        run: docker save $GITHUB_SHA -o $GITHUB_SHA.tar
      - name: Scan
        run: trivy image --input $GITHUB_SHA.tar -o trivy-report.json --exit-code 1 --severity="UNKNOWN,MEDIUM,HIGH,CRITICAL"
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
           name: trivy-report
           path: trivy-report.json

  integration-test:
    runs-on: ubuntu-latest
    needs: [bandit, safety, trivy]
    steps:
      - uses: actions/checkout@v2

      - name: Install yq and bash
        run: |
          sudo snap install yq
          sudo apt update
          sudo apt install bash -y

      - name: Build Connaisseur image
        run: |
          sed -i "s+TAG =.*+TAG = ${RELEASE_VERSION}+" Makefile
          sed -i "s+IMAGE_NAME =.*+IMAGE_NAME = ${RELEASE_IMAGE}+" Makefile
          make docker

      - name: Create KinD cluster
        run: |
          GO111MODULE="on" go get sigs.k8s.io/kind
          kind create cluster --wait 120s

      - name: Check KinD cluster
        run: |
          kubectl get nodes

      - name: Add images to KinD
        run: |
          kind load docker-image ${RELEASE_IMAGE}:${RELEASE_VERSION}
          kind load docker-image ${RELEASE_IMAGE}:helm-hook

      - name: Run actual integration test
        run: |
          bash connaisseur/tests/integration/integration-test.sh
