name: release

on:
  push:
    tags: "v*"

jobs:
  version-match:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install yq
        run: sudo snap install yq
      - name: Ensure version equality
        run: |
          IMAGE_TAG=$(yq r helm/values.yaml 'deployment.image' | cut -d ':' -f2)
          for COMMIT_TAG in $(git tag --points-at $(git rev-parse HEAD)); do
            if [[ "$IMAGE_TAG" == "$COMMIT_TAG" ]]; then
              exit 0
            fi
          done
          echo "Tag '$IMAGE_TAG' is not within tags of commit: $(git tag --points-at $(git rev-parse HEAD))"
          exit 1

  integration-test:
    runs-on: ubuntu-latest
    needs: [version-match]
    steps:
      - uses: actions/checkout@v2

      - name: Install yq and bash
        run: |
          sudo snap install yq
          sudo apt update
          sudo apt install bash -y

      - name: Pull Connaisseur images
        run: |
          DOCKER_CONTENT_TRUST=1 docker pull $(yq r helm/values.yaml 'deployment.image')
          DOCKER_CONTENT_TRUST=1 docker pull $(yq r helm/values.yaml 'deployment.helmHookImage')

      - name: Create KinD cluster
        run: |
          GO111MODULE="on" go get sigs.k8s.io/kind
          kind create cluster --wait 120s

      - name: Check KinD cluster
        run: kubectl get nodes

      - name: Add images to KinD
        run: |
          kind load docker-image $(yq r helm/values.yaml 'deployment.image')
          kind load docker-image $(yq r helm/values.yaml 'deployment.helmHookImage')

      - name: Run actual integration test
        run: bash connaisseur/tests/integration/integration-test.sh
